@*@model AndroidPitalica.DAL.Entities.Question

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CorrectAnswer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WrongAnswers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WrongAnswers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Row)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Row)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Definition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Definition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visibility)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visibility)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exam.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
